{{ header }}{{ column_left }}
<div id="content">
    <style type="text/css">
        .tree-select {
            line-height: normal;
        }

        .tree-select label {
            position: relative;
            display: block;
            padding: 0 0 0 1.2em;
            margin: 0;
        }

        .tree-select label:not(:nth-last-of-type(1)) {
            border-left: 1px solid #94a5bd;
        }

        .tree-select label:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1.1em;
            height: .5em;
            border-bottom: 1px solid #94a5bd;
        }

        .tree-select label:nth-last-of-type(1):before {
            border-left: 1px solid #94a5bd;
        }

        .tree-select fieldset,
        .tree-select fieldset[class=""] .razvernut {
            position: absolute;
            visibility: hidden;
            margin: 0;
            padding: 0 0 0 2em;
            border: none;
        }

        .tree-select fieldset:not(:last-child) {
            border-left: 1px solid #94a5bd;
        }

        .tree-select .razvernut {
            position: relative;
            visibility: visible;
        }

        .tree-select > fieldset > legend,
        .tree-select .razvernut > fieldset > legend {
            position: absolute;
            left: -5px;
            top: 2px;
            height: 10px;
            width: 10px;
            margin-top: -1em;
            padding: 0;
            border: 1px solid #94a5bd;
            border-radius: 2px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-color: #fff;
            background-image: linear-gradient(to left, #1b4964, #1b4964), linear-gradient(#1b4964, #1b4964), linear-gradient(315deg, #a0b6d8, #e8f3ff 60%, #fff 60%);
            background-size: 1px 5px, 5px 1px, 100% 100%;
            visibility: visible;
            cursor: pointer;
        }

        .tree-select fieldset[class=""] .razvernut fieldset legend {
            visibility: hidden;
        }

        .tree-select .razvernut > legend {
            background-image: linear-gradient(#1b4964, #1b4964) !important;
            background-size: 5px 1px !important;
        }
    </style>
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-extended-sitemap" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal" name="oasis">
                    <div role="tabs">
                        <div class="tab-content">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tab-option" data-toggle="tab">{{ tab_option }}</a></li>
                                {% if api_key_status %}
                                    <li><a href="#tab-import" data-toggle="tab">{{ tab_import }}</a></li>
                                {% endif %}
                            </ul>
                            <div id="tab-option" class="tab-pane active">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
                                    <div class="col-sm-9">
                                        <div class="btn-group" data-toggle="buttons">
                                            {% if status %}
                                                <label class="btn btn-default active">
                                                    <input type="radio" name="oasiscatalog_status" value="1" autocomplete="off" checked="checked"/> {{ text_enabled }}
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="oasiscatalog_status" value="0" autocomplete="off"/> {{ text_disabled }}
                                                </label>
                                            {% else %}
                                                <label class="btn btn-default">
                                                    <input type="radio" name="oasiscatalog_status" value="1" autocomplete="off"/> {{ text_enabled }}
                                                </label>
                                                <label class="btn btn-default active">
                                                    <input type="radio" name="oasiscatalog_status" value="0" autocomplete="off" checked="checked"/> {{ text_disabled }}
                                                </label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="input-api-key">{{ entry_api_key }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="oasiscatalog_api_key" value="{{ api_key }}" class="form-control" id="input-api-key" width="100%">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="input-user-id">{{ entry_user_id }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="oasiscatalog_user_id" value="{{ user_id }}" class="form-control" id="input-user-id" width="100%">
                                    </div>
                                </div>
                                {% if api_key_status %}
                                    <div class="form-group">
                                        <p class="text-center">{{ text_cron_product }}</p>
                                        <label class="col-sm-3 control-label" for="input-cron-product">{{ entry_cron_product }}</label>
                                        <div class="col-sm-9">
                                            <textarea rows="1" readonly id="input-cron-product" class="form-control">{{ cron_product }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-center">{{ text_cron_stock }}</p>
                                        <label class="col-sm-3 control-label" for="input-cron-stock">{{ entry_cron_stock }}</label>
                                        <div class="col-sm-9">
                                            <textarea rows="1" readonly id="input-cron-stock" class="form-control">{{ cron_stock }}</textarea>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if api_key_status %}
                                <div id="tab-import" class="tab-pane">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-currency">{{ text_currency }}</label>
                                                        <div class="col-sm-6">
                                                            <select name="currency" id="input-currency" class="form-control col-sm-6">
                                                                {% for key, currency in currencies %}
                                                                    {% if key == 'rub' %}
                                                                        <option value="{{ key }}" selected="selected">{{ currency }}</option>
                                                                    {% else %}
                                                                        <option value="{{ key }}">{{ currency }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-no-vat">{{ text_no_vat }}</label>
                                                        <div class="col-sm-6">
                                                            <label class="control-label">
                                                                {% if no_vat %}
                                                                    <input type="checkbox" name="no_vat" value="1" id="input-no-vat" checked/>
                                                                {% else %}
                                                                    <input type="checkbox" name="no_vat" value="1" id="input-no-vat"/>
                                                                {% endif %}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="tax-class" style="{% if not no_vat %}display: none;{% endif %}">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-tax-class">{{ text_tax_class }}</label>
                                                        <div class="col-sm-6">
                                                            <select name="tax_class_id" id="input-tax-class" class="form-control" required>
                                                                <option value="0">{{ text_none }}</option>
                                                                {% for tax_class in tax_classes %}
                                                                    {% if tax_class.tax_class_id == tax_class_id %}
                                                                        <option value="{{ tax_class.tax_class_id }}" selected="selected">{{ tax_class.title }}</option>
                                                                    {% else %}
                                                                        <option value="{{ tax_class.tax_class_id }}">{{ tax_class.title }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-not-on-order">{{ text_not_on_order }}</label>
                                                        <div class="col-sm-6">
                                                            <label class="control-label">
                                                                {% if not_on_order %}
                                                                    <input type="checkbox" name="not_on_order" value="1" id="input-not-on-order" checked/>
                                                                {% else %}
                                                                    <input type="checkbox" name="not_on_order" value="1" id="input-not-on-order"/>
                                                                {% endif %}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-price">{{ text_price }}</label>
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-sm-1">
                                                                    <label class="control-label" for="input-price-from">{{ text_price_from }}</label>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    {% if price_from %}
                                                                        <input type="text" name="price_from" value="{{ price_from }}" placeholder="{{ text_price_from }}" id="input-price-from"
                                                                               class="form-control">
                                                                    {% else %}
                                                                        <input type="text" name="price_from" value="" placeholder="{{ text_price_from }}" id="input-price-from" class="form-control">
                                                                    {% endif %}

                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <label class="control-label" for="input-price-to">{{ text_price_to }}</label>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    {% if price_to %}
                                                                        <input type="text" name="price_to" value="{{ price_to }}" placeholder="{{ text_price_to }}" id="input-price-to"
                                                                               class="form-control">
                                                                    {% else %}
                                                                        <input type="text" name="price_to" value="" placeholder="{{ text_price_to }}" id="input-price-to" class="form-control">
                                                                    {% endif %}

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6" id="rating-group">
                                                            <label class="col-sm-12">
                                                                {% if rating == 1 %}
                                                                    <input type="checkbox" name="rating" value="1" id="input-rating-group" checked/>
                                                                {% else %}
                                                                    <input type="checkbox" name="rating" value="1" id="input-rating-group"/>
                                                                {% endif %}
                                                                {{ text_only_new }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                {% if rating == 2 %}
                                                                    <input type="checkbox" name="rating" value="2" id="input-rating-group" checked/>
                                                                {% else %}
                                                                    <input type="checkbox" name="rating" value="2" id="input-rating-group"/>
                                                                {% endif %}
                                                                {{ text_only_hits }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                {% if rating == 3 %}
                                                                    <input type="checkbox" name="rating" value="3" id="input-rating-group" checked/>
                                                                {% else %}
                                                                    <input type="checkbox" name="rating" value="3" id="input-rating-group"/>
                                                                {% endif %}
                                                                {{ text_only_discount }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6">
                                                            <label class="col-sm-12">
                                                                {% if warehouse_moscow %}
                                                                    <input type="checkbox" name="warehouse_moscow" value="1" id="input-warehouse" checked/>
                                                                {% else %}
                                                                    <input type="checkbox" name="warehouse_moscow" value="1" id="input-warehouse"/>
                                                                {% endif %}
                                                                {{ text_warehouse_moscow }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                {% if warehouse_europe %}
                                                                    <input type="checkbox" name="warehouse_europe" value="1" id="input-warehouse" checked/>
                                                                {% else %}
                                                                    <input type="checkbox" name="warehouse_europe" value="1" id="input-warehouse"/>
                                                                {% endif %}
                                                                {{ text_warehouse_europe }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                {% if remote_warehouse %}
                                                                    <input type="checkbox" name="remote_warehouse" value="1" id="input-warehouse" checked/>
                                                                {% else %}
                                                                    <input type="checkbox" name="remote_warehouse" value="1" id="input-warehouse"/>
                                                                {% endif %}
                                                                {{ text_remote_warehouse }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-limit">{{ text_limit }}</label>
                                                        <div class="col-sm-6">
                                                            {% if limit %}
                                                                <input type="number" name="limit" value="{{ limit }}" placeholder="" id="input-limit"
                                                                       class="form-control" style="width: 120px;">
                                                            {% else %}
                                                                <input type="number" name="limit" value="" placeholder="" id="input-limit" class="form-control" style="width: 120px;">
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-factor">{{ text_factor }}</label>
                                                        <div class="col-sm-6">
                                                            {% if factor %}
                                                                <input type="number" name="factor" value="{{ factor }}" step="0.01" placeholder="" id="input-factor"
                                                                       class="form-control" style="width: 120px;">
                                                            {% else %}
                                                                <input type="number" name="factor" value="" step="0.01" placeholder="" id="input-factor" class="form-control" style="width: 120px;">
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-increase">{{ text_increase }}</label>
                                                        <div class="col-sm-6">
                                                            {% if increase %}
                                                                <input type="number" name="increase" value="{{ increase }}" step="0.01" placeholder="" id="input-increase"
                                                                       class="form-control" style="width: 120px;">
                                                            {% else %}
                                                                <input type="number" name="increase" value="" step="0.01" placeholder="" id="input-increase" class="form-control" style="width: 120px;">
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="col-sm-6 control-label" for="input-dealer">{{ text_dealer }}</label>
                                                    <div class="col-sm-6">
                                                        <label class="control-label">
                                                            {% if dealer %}
                                                                <input type="checkbox" name="dealer" value="1" id="input-dealer" checked/>
                                                            {% else %}
                                                                <input type="checkbox" name="dealer" value="1" id="input-dealer"/>
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label" style="text-align: left;" for="input-category">{{ text_select_categories }}</label>
                                                    <div class="col-sm-12">
                                                        <div class="tree-select razvernut">
                                                            {{ categories }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <small>{{ text_mail_to }}</small>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><!--
    var t = document.forms.oasis;
    [].forEach.call(t.querySelectorAll('fieldset'), function (eFieldset) {
        var main = [].filter.call(t.querySelectorAll('[type="checkbox"]'), function (element) {
            return element.parentNode.nextElementSibling == eFieldset;
        });
        main.forEach(function (eMain) {
            var l = [].filter.call(eFieldset.querySelectorAll('legend'), function (e) {
                return e.parentNode == eFieldset;
            });
            l.forEach(function (eL) {
                var all = eFieldset.querySelectorAll('[type="checkbox"]');
                eL.onclick = Razvernut;
                eFieldset.onchange = Razvernut;

                {% if category %}
                var category = {{ category }};
                for (var i = 0; i < category.length; i++)
                    t.querySelector('[type="checkbox"][value="' + category[i] + '"]').checked = true;
                Razvernut('true');
                {% endif %}

                function Razvernut(load) {
                    var allChecked = eFieldset.querySelectorAll('[type="checkbox"]:checked').length;
                    eMain.checked = allChecked == all.length;
                    eMain.indeterminate = allChecked > 0 && allChecked < all.length;
                    if (eMain.indeterminate || eMain.checked || ((eFieldset.className == '') && (load != 'true'))) {
                        eFieldset.className = 'razvernut';
                    } else {
                        eFieldset.className = '';
                    }
                }

                eMain.onclick = function () {
                    for (var i = 0; i < all.length; i++)
                        all[i].checked = this.checked;
                    if (this.checked) {
                        eFieldset.className = 'razvernut';
                    } else {
                        eFieldset.className = '';
                    }
                }
            });
        });
    });

    $('#input-no-vat').click(function () {
        if ($(this).is(':checked')) {
            $('#tax-class').show(100);
        } else {
            $('#tax-class').hide(100);
        }
    });

    $('#rating-group input:checkbox').click(function () {
        if ($(this).is(':checked')) {
            $('#rating-group input:checkbox').not(this).prop('checked', false);
        }
    });
    //--></script>
{{ footer }}
