{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-extended-sitemap" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <div id="w3" class="active progress-striped progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0">0%<span
                                class="sr-only">0% Complete</span></div>
                </div>
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
                    <div role="tabs">
                        <div class="tab-content">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tab-option" data-toggle="tab">{{ tab_option }}</a></li>
                                {% if api_key_status %}
                                    <li><a href="#tab-import" data-toggle="tab">{{ tab_import }}</a></li>
                                {% endif %}
                            </ul>
                            <div id="tab-option" class="tab-pane active">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
                                    <div class="col-sm-9">
                                        <div class="btn-group" data-toggle="buttons">
                                            {% if status %}
                                                <label class="btn btn-default active">
                                                    <input type="radio" name="oasiscatalog_status" value="1" autocomplete="off" checked="checked"/> {{ text_enabled }}
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="oasiscatalog_status" value="0" autocomplete="off"/> {{ text_disabled }}
                                                </label>
                                            {% else %}
                                                <label class="btn btn-default">
                                                    <input type="radio" name="oasiscatalog_status" value="1" autocomplete="off"/> {{ text_enabled }}
                                                </label>
                                                <label class="btn btn-default active">
                                                    <input type="radio" name="oasiscatalog_status" value="0" autocomplete="off" checked="checked"/> {{ text_disabled }}
                                                </label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="input-api-key">{{ entry_api_key }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="oasiscatalog_api_key" value="{{ api_key }}" class="form-control" id="input-api-key" width="100%">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="input-user-id">{{ entry_user_id }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="oasiscatalog_user_id" value="{{ user_id }}" class="form-control" id="input-user-id" width="100%">
                                    </div>
                                </div>
                            </div>
                            {% if api_key_status %}
                                <div id="tab-import" class="tab-pane">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-currency">{{ text_currency }}</label>
                                                        <div class="col-sm-6">
                                                            <select name="currency" id="input-currency" class="form-control col-sm-6">
                                                                {% for key, currency in currencies %}
                                                                    {% if key == 'rub' %}
                                                                        <option value="{{ key }}" selected="selected">{{ currency }}</option>
                                                                    {% else %}
                                                                        <option value="{{ key }}">{{ currency }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-no-vat">{{ text_no_vat }}</label>
                                                        <div class="col-sm-6">
                                                            <label class="control-label">
                                                                <input type="checkbox" name="no-vat" value="1" id="input-no-vat"/>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="tax-class" style="display: none;">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-tax-class">{{ text_tax_class }}</label>
                                                        <div class="col-sm-6">
                                                            <select name="tax_class_id" id="input-tax-class" class="form-control" required>
                                                                <option value="0">{{ text_none }}</option>
                                                                {% for tax_class in tax_classes %}
                                                                    {% if tax_class.tax_class_id == tax_class_id %}
                                                                        <option value="{{ tax_class.tax_class_id }}" selected="selected">{{ tax_class.title }}</option>
                                                                    {% else %}
                                                                        <option value="{{ tax_class.tax_class_id }}">{{ tax_class.title }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-not-on-order">{{ text_not_on_order }}</label>
                                                        <div class="col-sm-6">
                                                            <label class="control-label">
                                                                <input type="checkbox" name="not-on-order" value="1" id="input-not-on-order"/>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-price">{{ text_price }}</label>
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-sm-1">
                                                                    <label class="control-label" for="input-price-from">{{ text_price_from }}</label>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input type="text" name="price-from" value="" placeholder="{{ text_price_from }}" id="input-price-from" class="form-control">
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <label class="control-label" for="input-price-to">{{ text_price_to }}</label>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input type="text" name="price-to" value="" placeholder="{{ text_price_to }}" id="input-price-to" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6" id="rating-group">
                                                            <label class="col-sm-12">
                                                                <input type="checkbox" name="rating" value="1" id="input-rating-group"/>
                                                                {{ text_only_new }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                <input type="checkbox" name="rating" value="2" id="input-rating-group"/>
                                                                {{ text_only_hits }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                <input type="checkbox" name="rating" value="3" id="input-rating-group"/>
                                                                {{ text_only_discount }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6">
                                                            <label class="col-sm-12">
                                                                <input type="checkbox" name="warehouse_moscow" value="1" id="input-warehouse"/>
                                                                {{ text_warehouse_moscow }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                <input type="checkbox" name="warehouse_europe" value="1" id="input-warehouse"/>
                                                                {{ text_warehouse_europe }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                <input type="checkbox" name="remote_warehouse" value="1" id="input-warehouse"/>
                                                                {{ text_remote_warehouse }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label" style="text-align: left;" for="input-category">{{ text_select_categories }}</label>
                                                    <div class="col-sm-12">
                                                        <div class="well well-sm" style="min-height: 150px;max-height: 500px;overflow: auto;">
                                                            <table class="table table-striped">
                                                                {% for key, category in categories %}
                                                                    <tr>
                                                                        <td class="checkbox" style="padding: 5px;">
                                                                            <label>
                                                                                <input id="categories" type="checkbox" name="category[]" value="{{ key }}"/>
                                                                                {{ category }}
                                                                            </label>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </table>
                                                        </div>
                                                        <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> / <a
                                                                onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-9 text-center">
                                                        <button type="button" class="btn btn-success" id="start-import"><i
                                                                    class="fa fa-copy"></i> {{ button_import }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <small>{{ text_mail_to }}</small>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><!--

    $("#start-import").click(StartImport);

    var count = 0;
    var ids = [];
    var total_count = 1;

    function StartImport(e) {
        e.preventDefault();

        var currency = $('#input-currency option:selected').val();
        var no_vat = $('[name="no-vat"]').is(":checked") ? 1 : 0;
        var not_on_order = $('[name="not-on-order"]').is(":checked") ? 1 : null;
        var price_from = $('[name="price-from"]').val();
        var price_to = $('[name="price-to"]').val();
        var tax_class = $('#input-tax-class option:selected').val();

        var rating = null;
        $('[name="rating"]:checked').each(function () {
            rating = $(this).val();
        });

        var warehouse_moscow = $('[name="warehouse_moscow"]').is(":checked") ? 1 : null;
        var warehouse_europe = $('[name="warehouse_europe"]').is(":checked") ? 1 : null;
        var remote_warehouse = $('[name="remote_warehouse"]').is(":checked") ? 1 : null;

        var category = [];
        $('[id="categories"]:checked').each(function () {
            category.push($(this).val());
        });

        if (category == '') {
            alert('Необходимо выбрать одну или несколько категорий!');
            return false;
        }

        [].forEach.call(document.querySelectorAll('input, select'), function (el) {
            el.setAttribute('disabled', 'disabled');
        });

        if (count < total_count) {
            $.ajax({
                url: 'index.php?route=extension/module/oasiscatalog/import&user_token={{ user_token }}',
                type: 'post',
                dataType: 'json',
                cache: false,
                data: {
                    currency: currency,
                    no_vat: no_vat,
                    not_on_order: not_on_order,
                    price_from: price_from,
                    price_to: price_to,
                    rating: rating,
                    warehouse_moscow: warehouse_moscow,
                    warehouse_europe: warehouse_europe,
                    remote_warehouse: remote_warehouse,
                    category: category,
                    count: count,
                    ids: ids,
                    tax_class: tax_class,
                    total_count: total_count
                },
                success: function (response) {
                    if (response['countcon']) {
                        count = response['countcon'];
                    }
                    if (response['ids']) {
                        ids = response['ids'];
                    }
                    if (response['total_count']) {
                        total_count = response['total_count'];
                    }
                    count++;
                    var value = (count * 100 / total_count).toFixed(2) + '%';
                    $('.progress-bar').width(value).html(value);
                    $('#resp').html(response['status'] + ' ' + count);

                    if (response['status'] && count < total_count) {
                        StartImport(e);
                    } else {
                        [].forEach.call(document.querySelectorAll('input, select'), function (el) {
                            el.removeAttribute('disabled');
                        });
                        count = 0;
                        ids = [];
                        total_count = 1;
                        alert(response['text']);
                    }
                }
            });
        } else {
            alert('Error');
        }
    }

    $('#input-no-vat').click(function () {
        if ($(this).is(':checked')) {
            $('#tax-class').show(100);
        } else {
            $('#tax-class').hide(100);
        }
    });

    $('#rating-group input:checkbox').click(function () {
        if ($(this).is(':checked')) {
            $('#rating-group input:checkbox').not(this).prop('checked', false);
        }
    });
    //--></script>
<div class="row">
    <div class="text-center">
        <div id="resp"></div>
    </div>
</div>
{{ footer }}
