{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-extended-sitemap" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
                    <div role="tabs">
                        <div class="tab-content">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tab-option" data-toggle="tab">{{ tab_option }}</a></li>
                                {% if api_key_status %}
                                    <li><a href="#tab-import" data-toggle="tab">{{ tab_import }}</a></li>
                                {% endif %}
                            </ul>
                            <div id="tab-option" class="tab-pane active">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
                                    <div class="col-sm-9">
                                        <div class="btn-group" data-toggle="buttons">
                                            {% if status %}
                                                <label class="btn btn-default active">
                                                    <input type="radio" name="oasiscatalog_status" value="1" autocomplete="off" checked="checked"/> {{ text_enabled }}
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="oasiscatalog_status" value="0" autocomplete="off"/> {{ text_disabled }}
                                                </label>
                                            {% else %}
                                                <label class="btn btn-default">
                                                    <input type="radio" name="oasiscatalog_status" value="1" autocomplete="off"/> {{ text_enabled }}
                                                </label>
                                                <label class="btn btn-default active">
                                                    <input type="radio" name="oasiscatalog_status" value="0" autocomplete="off" checked="checked"/> {{ text_disabled }}
                                                </label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="input-api-key">{{ entry_api_key }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="oasiscatalog_api_key" value="{{ api_key }}" class="form-control" id="input-api-key" width="100%">
                                    </div>
                                </div>
                            </div>
                            {% if api_key_status %}
                                <div id="tab-import" class="tab-pane">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-currency">{{ text_currency }}</label>
                                                        <div class="col-sm-6">
                                                            <select name="currency" id="input-currency" class="form-control col-sm-6">
                                                                {% for key, currency in currencies %}
                                                                    {% if key == 'rub' %}
                                                                        <option value="{{ key }}" selected="selected">{{ currency }}</option>
                                                                    {% else %}
                                                                        <option value="{{ key }}">{{ currency }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-no-vat">{{ text_no_vat }}</label>
                                                        <div class="col-sm-6">
                                                            <label class="control-label">
                                                                <input type="checkbox" name="no-vat" value="1" id="input-no-vat"/>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-not-on-order">{{ text_not_on_order }}</label>
                                                        <div class="col-sm-6">
                                                            <label class="control-label">
                                                                <input type="checkbox" name="not-on-order" value="1" id="input-not-on-order"/>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 control-label" for="input-price">{{ text_price }}</label>
                                                        <div class="col-sm-6">
                                                            <div class="row">
                                                                <div class="col-sm-1">
                                                                    <label class="control-label" for="input-price-from">{{ text_price_from }}</label>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input type="text" name="price-from" value="" placeholder="{{ text_price_from }}" id="input-price-from" class="form-control">
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <label class="control-label" for="input-price-to">{{ text_price_to }}</label>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input type="text" name="price-to" value="" placeholder="{{ text_price_to }}" id="input-price-to" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6">
                                                            <label class="col-sm-12">
                                                                <input type="radio"
                                                                       onMouseDown="this.isChecked=this.checked;"
                                                                       onClick="this.checked=!this.isChecked;"
                                                                       name="rating" value="1"/>
                                                                &nbsp; {{ text_only_new }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                <input type="radio"
                                                                       onMouseDown="this.isChecked=this.checked;"
                                                                       onClick="this.checked=!this.isChecked;"
                                                                       name="rating" value="2"/>
                                                                &nbsp; {{ text_only_hits }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                <input type="radio"
                                                                       onMouseDown="this.isChecked=this.checked;"
                                                                       onClick="this.checked=!this.isChecked;"
                                                                       name="rating" value="3"/>
                                                                &nbsp; {{ text_only_discount }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6">
                                                            <label class="col-sm-12">
                                                                <input type="checkbox" name="warehouse_moscow" value="1" />
                                                                {{ text_warehouse_moscow }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                <input type="checkbox" name="warehouse_europe" value="1" />
                                                                {{ text_warehouse_europe }}
                                                            </label>
                                                            <label class="col-sm-12">
                                                                <input type="checkbox" name="remote_warehouse" value="1" />
                                                                {{ text_remote_warehouse }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label" style="text-align: left;" for="input-category">{{ text_select_categories }}</label>
                                                    <div class="col-sm-12">
                                                        <div class="well well-sm" style="min-height: 150px;max-height: 500px;overflow: auto;">
                                                            <table class="table table-striped">
                                                                {% for key, category in categories %}
                                                                    <tr>
                                                                        <td class="checkbox" style="padding: 5px;">
                                                                            <label>
                                                                                <input type="checkbox" name="category[]" value="{{ key }}"/>
                                                                                {{ category }}
                                                                            </label>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </table>
                                                        </div>
                                                        <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> / <a
                                                                onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-9 text-center">
                                                        <button type="button" class="btn btn-primary" id="button-start-import" data-loading-text="{{ text_loading }}"
                                                                data-complete-text="{{ text_complete }}"><i
                                                                    class="fa fa-copy"></i> {{ button_import }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <small>{{ text_mail_to }}</small>
        </div>
    </div>
</div>
<script type="text/javascript"><!--
    $(function () {

        var timer;

        $('#button-start-import').on('click', function (e) {
            clearTimeout(timer);

            $('#tab-import > .alert').remove();
            var $button = $(this).button('loading');

            $.post(
                'index.php?route=extension/module/oasiscatalog/getTestData&user_token={{ user_token }}', $('[name="currency"]').serialize(), function (response) {
                    if (response['error']) {
                        $button.button('reset');

                        $('#tab-import').prepend('<div class="alert alert-danger" role="alert">' + response['error'] + '</div>');
                    }

                    if (response['success']) {
                        $button.button('complete');

                        $('#tab-import').prepend('<div class="alert alert-success" role="alert">' + response['success'] + '</div>');

                        timer = setTimeout(function () {
                            $button.button('reset');
                        }, 10 * 1000);
                    }
                }, 'json');
        });
    });
    //--></script>
{{ footer }}
